# Ignore vendor directories
/vendor/

# Ignore composer.lock file
composer.lock

# Ignore environment-specific configuration files
.env

# Ignore logs and temporary files
/log/
/tmp/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore user-specific files
.DS_Store
Thumbs.db

# Ignore session and cache files
/sessions/
/cache/

# Ignore system files
*.swp
